.section1{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.title{
    font-size: 90px;
    color: #427D9D;
    text-align: center;
}

.quotes{
    color: #776B5D;
    margin: 10px;
}

.section2{
    padding: 20px;
    display: flex;
    justify-content: center;    
}

.box {
    box-sizing: border-box;
    padding: 20px;
    min-height: 200px;
    width: 35%;
    margin: 0 80px;
    border: #739072 solid 1px;
    background-color: #fffcf9;
    transition: transform 0.3s ease;
    text-align: center;
    border-radius: 20px;
}
