.body{
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.header{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: #35505c;
}

.title{
    font-size: 40px;
    color: #F3EEEA;
    text-align: center;
}

.inputDiv{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.taskDiv{
    background-color: #fffaf6;
    width: 90%;
    min-height: 350px;
    margin-bottom: 50px;
}

#userInput{
    margin: 30px 40px;
}

input {
    margin: 0px;
    border: none;
    border-radius: 0;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.dateDiv{
    margin-right: 20px;
}

.dateDiv input{
    padding: 10px;
    font-size: 16px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.addBtn {
    padding: 10px;
    float: left;
    width: 10%;
    background: #164863;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover{
    background-color: #04364A;
    transform: scale(1.1);
}

ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 40px 12px 40px;
    background: #fffaf6;
    font-size: 20px;
    transition: 0.2s;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
}

ul li:hover{
    .remove{
        display: block;
    }
}

.due{
    margin-left: 50px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a3a2a2;
    display: block;
}

ul li.checked{
    background: #93B1A6;
    color: white;
    text-decoration: line-through;
    .due{
        display: none;
    }
}

.remove{
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px 16px 12px 16px;
    display: none;
    cursor: pointer;
}

.remove:hover{
    background-color: #A25772;
    color: white;
}

